.card {
	color: whitesmoke;
	background-color: #123456;
    margin-right: 5px;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.name {
	font-size: 1.2em;
}

.spruch {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 30px;
}

.top-margin {
	margin-top: 25px;
}
.img {
	width: 120px;
	height: auto;
	aspect-ratio: 1/1;
	background-size: cover;
    border-radius: 5px;
}

.blue {
    background-color: rgb(60, 117, 173);
}

.pink {
    background-color: rgb(196, 41, 131);
}

.red {
    background-color: rgb(202, 31, 31);
}
