.cardlist {
	margin-top: 30px;
	display: -webkit-box;
	height: 350px;
	width: 1500px;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
