.button {
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	width: 250px;
	transition: 0.4s;
}

.reset {
	padding: 10px 0px;
	background-color: whitesmoke;
	color: #212121;
	font-size: 1em;
	font-weight: 700;
}

.reset:hover {
	background-color: rgb(199, 199, 199);
	width: 240px;
}

.roll {
	padding: 20px 0px;
	font-size: 1.5em;
	font-weight: 900;
	background-color: #2596be;
	color: whitesmoke;
}

.roll:hover {
	background-color: #1e7da0;
	width: 240px;
}

.center-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttons-wrapper {
	margin-top: 20px;
}
